                                /*PAGE-OM*/                                
.dirigent
{
    border: solid 1px;
    border-radius: 10px;
    background-color: beige;
}
.img-coatch
{
    float: left ;
    height: 200px;
    width: 200px;
    padding:10px;
    border-radius: 20px;
}



                                
                                /*BILLETERIE*/

.stade
{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.card {
    border-color: rgba(53,93,235,0.75) ;
    box-shadow: 10px 10px 5px 0px rgba(53, 93, 235, 0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(53,93,235,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(53,93,235,0.75);
}

.logo
{
    height: 50px;
    width:50;    
}

                                /*PALMARES*/

.titre1
{
    margin-top: 10px;
    border-radius: 10px;
    background-color:#8C9596 ;
}