/*.stade {
    background-image: url(http://www.ohmygoal.co/content/couv/20191105_x1080.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;

   /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;*/


}
